<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="cnnString" connectionString="Data Source=DESKTOP-7NQSKAD\SQLEXPRESS;Initial Catalog=DB_CINEMA;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Cine_App_2.Properties.Settings.DB_CINEMAConnectionString"
   connectionString="Data Source=DESKTOP-7NQSKAD\SQLEXPRESS;Initial Catalog=DB_CINEMA;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>